body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f2f2f2;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

#playersList button {
  display: block;
  margin: 5px auto;
  padding: 10px;
  width: 200px;
}
